# 🎫 TR3 TicketMaster Global Env Config

# DB (PostgreSQL 18.3)
DB_HOST=db_postgres
DB_PORT=5432
DB_DATABASE=ticketmaster
DB_USERNAME=user
DB_PASSWORD=pass

# REDIS (Bus/Cache)
REDIS_HOST=cache_redis
REDIS_PORT=6379

# FRONTEND (Nuxt 4)
FRONTEND_PORT=3000
NUXT_PUBLIC_API_URL=http://localhost:8000
NUXT_PUBLIC_SOCKET_URL=http://localhost:3001

# BACKEND API (Laravel 13)
API_PORT=8000
APP_KEY=base64:YOUR_SECRET_KEY
APP_DEBUG=true

# BACKEND REALTIME (Node.js)
SOCKET_PORT=3001
JWT_SECRET=super-secret-key
THRESHOLD_N=50
